<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>O: <%= title %></title>
  <link rel="stylesheet" href="css/style.css"></link>
</head>
<body>
  <img src="img/logo.jpg" alt="Logo">
  <div>O: <%= content %></div>
</body>
</html>