<!--Signin view using jade as template string-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= title %> </title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="wrapper">
    <h1>Sign in</h1>
    <!-- form login-->
    <form action="/signin" method="post" id="signUpUser">
      <label id="userName"for="username">User name:</label><input type="text" name="username">
      <label for="password">Password:</label><input type="text" name="password">
      <input type="submit" value="sign in" />
    </form>
    <div class="errorMessage"><%= messages %></div>
  </div>

</body>
</html>