<!--Signup view using jade as template string-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= title %> </title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <%= messages %>
  <div id="wrapper">
    <h1>Sign up</h1>
    <!-- form login-->
    <form action="/signup" method="post" id="signUpUser">
      <label for="firstName">First Name:</label><input type="text" name="firstName">
      <label for="lastName">Last Name:</label><input type="text" name="lastName">
      <label for="email">Email:</label><input type="text" name="firstName">
      <label for="username">UserName:</label><input type="text" name="username">
      <label for="password">Password:</label><input type="text" name="password">
      <input type="submit" value="sign up">
    </form>
  </div>
</body>
</html>